In [1]:
import pandas as pd
import numpy as np

In [2]:
final_result = pd.read_csv('final_result.csv')
Final = pd.read_csv('Final.csv')
nulldata = pd.read_csv('nulldataa.csv')
nulldata1 = pd.read_csv('nulldata1.csv')

In [3]:
nulldata1

,Unnamed: 0,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,due_in_date,baseline_create_date,cust_payment_terms,converted_usd
0,0,U001,200769623,pred_data,2019-11-12,2019,1930083373,2019-11-01,2019-11-16,2019-11-01,NAH4,7358.49

In [4]:
nulldata1.isna().sum()

Unnamed: 0              0
business_code           0
cust_number             0
name_customer           0
clear_date              0
buisness_year           0
doc_id                  0
posting_date            0
due_in_date             0
baseline_create_date    0
cust_payment_terms      0
converted_usd           0
dtype: int64

In [5]:
final_result

   Unnamed: 0  avg_delay
0           0 -194201.42

In [6]:
final_result.isna().sum()

Unnamed: 0    0
avg_delay     0
dtype: int64

In [11]:
nulldata1

,Unnamed: 0,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,due_in_date,baseline_create_date,cust_payment_terms,converted_usd
0,0,U001,200769623,pred_data,2019-11-12,2019,1930083373,2019-11-01,2019-11-16,2019-11-01,NAH4,7358.49

In [8]:
nulldata['Unnamed: 0']

0    0
Name: Unnamed: 0, dtype: int64

In [9]:
  Final = nulldata1.merge(final_result )

In [10]:
Final

,Unnamed: 0,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,due_in_date,baseline_create_date,cust_payment_terms,converted_usd,avg_delay
0,0,U001,200769623,pred_data,2019-11-12,2019,1930083373,2019-11-01,2019-11-16,2019-11-01,NAH4,7358.49,-194201.42